<form class="formulariogeneral" action="<%= accion %>">
  
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Nombres:*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="nombres" name="nombres"  placeholder="Nombres">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Apellidos:*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Usuario:*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Contraseña:*</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Contraseña">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Telefono:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Telefono">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Movil:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="movil" name="movil" placeholder="Movil">
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-default" onclick="enviarFormulario()">Registrase</button>
    </div>
  </div>

</form>
